<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Number 
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Twitter
              </th>
              <th scope="col" colspan="3" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Options 
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @friends.each do |friend| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        <%= friend.first_name %>
                      </div>
                      <div class="text-sm text-gray-500">
                        <%= friend.email %>
                      </div>
                    </div>
                  </div>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"><%= friend.about %></div>
                  </td>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= link_to "@#{friend.twitter}", "https://twitter.com/#{friend.twitter}", class: 'px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800', target: '_blank' %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <div class="flex justify-between">
                    <%= link_to 'Show', friend, class: 'text-indigo-600 hover:text-indigo-900'%>
                    <%= link_to 'Edit', edit_friend_path(friend), class: 'text-yellow-500 hover:text-yellow-600 mx-4'%>
                    <%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:text-red-900' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<br>
<br>
<div class="container flex justify-end">
  <%= link_to 'New Friend +', new_friend_path, class: 'p-2 px-2 pl-5 pr-5 bg-blue-500 text-gray-100 text-sm rounded-md focus:border-4 border-blue-300' %>
</div>
